html,
body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 560px;
    margin: 0 auto;

    
}

#app {
    position: relative;
    background-color: var(--color-white-lighten);
}

.view {
    padding-top: calc(var(--nav-height) + 20px);
}

a {
    text-decoration: none;
    color: inherit;
}

.bottom-sheet__card {
    min-height: 500px;
}

// form

.input {
    width: 100%;
    padding: 20px;
    & input {
        width: 100%;
    }
}

.app-btn {
    width: 320px;
    border-radius: 15px;
    display: block;
    background-color: var(--primary);
    color: white;
    padding: 10px 0;
    text-align: center;
    border-radius: 15px;
}


.guest-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.guest-input {
    width: 300px;
}
.qnt{
    display: flex;
    align-items: center;
    color: var(--primary);
   
}
.qnt-svg{
  
    fill: var(--primary);
    cursor: pointer;
}
.qnt-input{
    text-align: center;
    width: 30px;
    border: none;
    font-size: 18px;
    color: var(--primary);
    background-color: #fff;
    margin: 0 10px;
    
}
.bottom-sheet__pan{
    background-color: var(--color-white-lighten);
    border-radius: 12px 12px 0 0;

}

.bottom-sheet__content{
    background-color: var(--color-white-lighten);
}