html,
body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

#app {
    position: relative;
}

.view {
    padding-top: calc(var(--nav-height) + 20px);
}

a {
    text-decoration: none;
    color: inherit;
}

.bottom-sheet__card {
    min-height: 500px;
}

// form

.input {
    width: 100%;
    padding: 20px;
    & input {
        width: 100%;
    }
}

.app-btn {
    width: 320px;
    border-radius: 15px;
    display: block;
    background-color: var(--primary);
    color: white;
    padding: 10px 0;
    text-align: center;
    border-radius: 15px;
}

.title {
    text-align: center;
}

.guest-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.guest-input {
    width: 300px;
}
