.group{
    border: 2px solid var(--primary);
    border-radius: 25px;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    animation: animWidth 1s ;
    transition: all .3s ease-in;
    height: 40px;
    width: 100px;
    padding: 0;
    & h4{
        animation-delay: 1s;
        animation: fadeIn 2s ;
        margin: 0;
        color: var(--color-black);
    }
    
    &.active{
        background-color: var(--primary);
        & h4{
            color: #fff;
        }
    }
}