.group{
    width: 120px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    padding:0 10px;
    & img{
        width: 120px;
        border-radius:5px;
        height: auto;
    }
    & h3{
        text-align: center;
        font-family: "Kufi";
        font-size: 14px;
        height: 50px;
        overflow: hidden;
    }

    &.active{
        & h3{
            color: var(--primary);
            &::after{
                content: "";
                width: 100%;
                display: block;
                margin-top: 10px;
                border-bottom: 1px solid var(--primary);
            }
        }
    }
}