.home{
    @media(min-width:1000px){
        padding:  0 200px;
    }
}
.groups {
    overflow: hidden;
    margin-bottom: 20px;
    & > div {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}
.items{
    @media(min-width:1000px){
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}
