.home {
  min-height: calc(100vh - 250px);
}

.home .items_wrapper {
  height: 100%;
  background-color: var(--color-white);
  border-radius: 25px;
  margin-top: var(--margin-minus);
  padding: 0 20px;
  padding-top: 30px;
  box-shadow: var(--shadow);
  overflow: hidden;
  padding-bottom: 60px;
}

.home .items_wrapper .info {
  text-align: left;
  margin-bottom: 30px;
  animation: fadeIn 1s;
  color: var(--color-black);
}

.home .items_wrapper .info svg.logo {
  width: 150px;
  height: 100px;
  fill: var(--color-black);
  transition: all .3s ease;
}

.home .items_wrapper .info .info-grid {
  display: grid;
  grid-template-columns: 70% 30%;
}

@media (max-width: 400px) {
  .home .items_wrapper .info .info-grid {
    grid-template-columns: 1fr;
  }
}

.home .items_wrapper .info .header-info {
  color: var(--colors-font);
  margin: 4px 0;
}

.home .items_wrapper .info .header-info svg {
  width: 20px;
  fill: var(--colors-font);
}

.home .items_wrapper .main-groups {
  margin-bottom: 20px;
}

.home .items_wrapper .items h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 32px 0 18px;
  color: var(--colors-black);
}

.home .bottom {
  position: fixed;
  bottom: 0;
  justify-content: center;
  color: #fff;
  z-index: 10;
  padding: 30px 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: calc(100% - 40px);
  background-color: var(--primary);
  border-radius: 25px 25px 0 0;
}
